<% if (data.posts !== null && data.posts.length > 0) { %>
<div id="Content">
  <% for (var post of data.posts) { %>
  <div class="Story hide" style="<%= 'background: ' + post.post_options.background + ';' %>">
    <% if (post.post_options.image !== null) { %>
    <div class="Cover">
      <img src="<%= url('/upload/webstories/' + post.post_options.image) %>" loading="lazy" />
    </div>
    <% } %>
    <div class="Content">
      <p><%= post.post_content %></p>
    </div>
  </div>
  <% } %>
</div>
<% } else { %>
<div id="NoContent">
  <div class="Story">
    <p><%= trans('webstories.stories_empty') %> </p>
  </div>
</div>
<% } %>
