* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: roboto, arial, sans-serif;
}

body {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #393939;
}

#Wrapper {
  display: grid;
  grid-template-columns: repeat(120, 1fr);
  grid-template-rows: 5rem auto;
  width: 100%;
  height: 100%;
  background: #393939;
}
#Header {
  display: grid;
  grid-column: 1 / span 120;
  grid-row: 1;
  z-index: 2;
  grid-template-columns: repeat(120, 1fr);
  grid-template-rows: 2rem 3rem;
}
#Header .Loadbar {
  display: flex;
  grid-column: 1 / span 120;
  grid-row: 1;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  justify-content: center;
  align-items: center;
}
#Header .Loadbar div {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  flex-grow: 1;
  overflow: hidden;
  height: 0.35rem;
  background: #909090;
  border-radius: 1rem 1rem 1rem 1rem;
}
@keyframes test {
  0% {
      width: 0%;
  }
  100% {
      width: 100%;
  }
}
#Header .Loadbar div.active::before {
  display: block;
  content: '';
  height: 100%;
  width: 0%;
  background: #666666;
  animation: test 10s linear infinite normal;
}
#Header .Loadbar div.active.pause::before {
  animation-play-state: paused;
}
#Header .Loadbar div.passed::before {
  display: block;
  content: '';
  height: 100%;
  width: 100%;
  background: #666666;
}
#Header .Logo {
  display: flex;
  grid-column: 1 / span 15;
  grid-row: 2;
  justify-content: center;
  align-items: center;
}
#Header .Logo img {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  background: #FFFFFF;
  border: 0.1rem solid #F0F0F0;
  border-radius: 100%;
}
#Header .Title {
  display: flex;
  grid-column: 16 / span 110;
  grid-row: 2;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  justify-content: flex-start;
  align-items: center;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: normal;
  text-shadow: 0 0 0.5rem #999999;
}
#Content,
#NoContent {
  display: grid;
  grid-column: 1 / span 120;
  grid-row: 1 / span 2;
  grid-template-columns: repeat(120, 1fr);
  grid-template-rows: auto;
  overflow: hidden;
}
#Content .Story,
#NoContent .Story {
  display: flex;
  grid-column: 1 / span 120;
  grid-row: 1;
  z-index: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#Content .Story.hide {
  display: none;
}
#Content .Story .Cover {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#Content .Story .Cover img {
  width: 100%;
  height: auto;
}
#NoContent .Story p {
  font-size: 1.25rem;
  color: #FFFFFF;
}
#Content .Previous {
  grid-column: 1 / span 40;
  grid-row: 1;
  z-index: 3;
}
#Content .Next {
  grid-column: 81 / span 40;
  grid-row: 1;
  z-index: 3;
}
#Content .Pause {
  grid-column: 41 / span 40;
  grid-row: 1;
  z-index: 3;
}

@media only screen and (min-width: 992px) {
  #Wrapper {
    width: 420px;
    background: #333333;
    border-right: 0.1rem solid #303030;
    border-left: 0.1rem solid #303030;
  }
}
